@font-face {
  font-family: "BOLD";
  src: url("../../assets/fonts/sf-pro-display/SFPRODISPLAYBOLD.OTF")
    format("truetype");
}
@font-face {
  font-family: "ITALIC";
  src: url("../../assets/fonts/sf-pro-display/SFPRODISPLAYBLACKITALIC.OTF")
    format("truetype");
}
@font-face {
  font-family: "REGULAR";
  src: url("../../assets/fonts/sf-pro-display/SFPRODISPLAYREGULAR.OTF")
    format("truetype");
}
@font-face {
  font-family: "MEDIUM";
  src: url("../../assets/fonts/sf-pro-display/SFPRODISPLAYMEDIUM.OTF")
    format("truetype");
}

:root {
  --primary: #fd7513;
  --dark-orange: #ec6626;
  --backgroud: #f8f8f8;
  --text: #616161;
  --active: #34c759;
  --blocked: #ff3b30;
  --expired: #a2845e;
  --inactive: #a2845e;
  --new: #ff9500;
  --processing: #af52de;
  --delivering: #34c759;
  --open: #34c759;
  --success: #34c759;
  --connected: #34C759;
  --pick-upWaiting: #32ade6;
  --owner: #32ade6;
  --member: #5856D6;
  --completed: #007aff;
  --solved: #007aff;
  --canceled: #ff3b30;
  --failed: #ff3b30;
  --scheduled: #af52de;
  --draft: #ffcc00;
  --waiting: #ffcc00;
  --pending: #aeaeb2;
  --nearlyExpired: #ff9500;
  --notConnected: #C7C7CC;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

ul {
  margin-bottom: 0;
}

.bg-active {
  background-color: var(--active);
}

.bg-success {
  background-color: var(--success);
}

.bg-nearlyExpired {
  background-color: var(--nearlyExpired);
}

.bg-expired {
  background-color: var(--expired);
}

.bg-pending {
  background-color: var(--pending);
}

.bg-waiting {
  background-color: var(--waiting);
}

.bg-solved {
  background-color: var(--solved);
}

.bg-draft {
  background-color: var(--draft);
}

.bg-delivering {
  background-color: var(--delivering);
}

.bg-open {
  background-color: var(--open);
}

.bg-canceled {
  background-color: var(--canceled);
}

.bg-blocked {
  background-color: var(--blocked);
}

.bg-inactive {
  background-color: var(--inactive);
}

.bg-new {
  background-color: var(--new);
}

.bg-processing {
  background-color: var(--processing);
}

.bg-scheduled {
  background-color: var(--scheduled);
}

.bg-pick-upWaiting {
  background-color: var(--pick-upWaiting);
}

.bg-completed {
  background-color: var(--completed);
}

.bg-failed {
  background-color: var(--failed);
}

.text-primary {
  color: var(--primary) !important;
}

.text-dark-orange {
  color: var(--dark-orange);
}

.text-active {
  color: var(--active);
}

.text-blocked {
  color: var(--blocked);
}

.text-expired {
  color: var(--expired);
}

.text-inactive {
  color: var(--inactive);
}

.text-new {
  color: var(--new);
}

.text-processing {
  color: var(--processing);
}

.text-delivering {
  color: var(--delivering);
}

.text-open {
  color: var(--open);
}

.text-success {
  color: var(--success);
}

.text-pick-upWaiting {
  color: var(--pick-upWaiting);
}

.text-owner {
  color: var(--owner);
}

.text-member {
  color: var(--member);
}

.text-completed {
  color: var(--completed);
}

.text-solved {
  color: var(--solved);
}

.text-canceled {
  color: var(--canceled);
}

.text-failed {
  color: var(--failed);
}

.text-scheduled {
  color: var(--scheduled);
}

.text-draft {
  color: var(--draft);
}

.text-waiting {
  color: var(--waiting);
}

.text-pending {
  color: var(--pending);
}

.text-pending {
  color: var(--pending);
}

.text-notConnected {
  color: var(--notConnected);
}

.text-connected {
  color: var(--connected);
}

body {
  display: flex;
  background-color: #f8f8f8;
  width: 100%;
  height: 100vh;
}

/* Sidebar Navigation */
.sidebar {
  max-width: 94px;
  width: 100%;
  /* height: 100vh; */
  border: 1px solid #e4e6eb;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar2,
.sidebar3 {
  position: absolute;
  margin-top: 74px;
  margin-left: 94px;
}

.sidebar .leftSidebarAmbOrder,
.sidebar .leftSidebarAmbTalk {
  height: calc(100vh);
}

.sidebar .rightSidebarAmbOrder,
.sidebar .rightSidebarAmbTalk {
  height: calc(100vh - 76px);
  overflow-y: auto;
}

.sidebar-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* height: 1046px; */
}

.sidebar-wrapper .logo {
  margin-top: 19px;
  margin-left: 29px;
  margin-right: 29.47px;
  margin-bottom: 18px;
  cursor: pointer;
}

.sidebar-nav .sidebar-nav__item {
  margin-top: 7.3px;
}

.sidebar-nav .sidebar-nav__link img.active {
  display: none;
}

.sidebar-nav .sidebar-nav__link:hover img.active,
.sidebar-nav .sidebar-nav__link:focus img.active {
  display: block;
}

.sidebar-nav .sidebar-nav__link:hover img.non-active,
.sidebar-nav .sidebar-nav__link:focus img.non-active {
  display: none;
}

/* divider */
.sidebar-nav .messages::after,
.sidebar-nav .transactions::after {
  content: " ";
  display: block;
  margin-top: 8px;
  max-width: 72px;
  border-bottom: dashed 1px #616161;
  opacity: 0.3;
}

/* End Sidebar */

/* Header */
.header {
  max-width: calc(100vw - 94px);
  width: 100%;
  height: 74px;
  background-color: #fff;
  border: 1px solid #e9ebee;
  position: fixed;
  left: 94px;
  z-index: 1;
}

.header .header-nav ul {
  margin-bottom: 0;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 10px 20px;
}

.header-wrapper .name-page {
  font-size: 26px;
  color: #454546;
  font-family: BOLD;
  font-weight: bold;
}

.header-nav__list {
  display: flex;
  align-items: center;
}

.header-nav__list .subsearch-container {
  position: relative;
  display: flex;
  width: 280px;
  width: 100%;
  height: 36px;
}

.header-nav__list .subsearch-container .header-nav__subsearch {
  border-radius: 6px;
  border: none;
  background-color: #f8f8f8;
  padding-left: 14px;
}

.header-nav__list .subsearch-container .header-nav__subsearch:focus {
  border: 2px solid var(--primary);
}

.header-nav__list .subsearch-container .header-nav__subsearch::placeholder {
  font-size: 14px;
  color: #454546;
  opacity: 0.5;
  font-weight: 400;
  width: 45px;
  height: 18px;
}

.header-nav__list .subsearch-container .subsearch-icon {
  position: absolute;
  right: 0;
  color: #454546;
  cursor: pointer;
  width: 16.8px;
  height: 16.8px;
  margin: 10px 12.2px 0 0;
}

.header-nav__list .noti-dropbtn {
  position: relative;
}

.header-nav__list .noti-dropbtn:focus .noti-mark-header {
  display: none;
}

.header-nav__list .noti-dropbtn .noti-mark-header {
  display: block;
  position: absolute;
  top: 11px;
  right: 14px;
}

.header-nav__list .noti-header {
  width: 20.2px;
  height: 23.2px;
  margin-left: 20px;
  margin-right: 20px;
}

.header-nav__list .avatar-header {
  margin-left: 16.6px;
}

.header-nav__list .language-header {
  width: 36.2px;
  height: 19.2px;
}

/* dropdown notifications */

.noti-dropdown {
  float: left;
  overflow: hidden;
}

.noti-dropdown .noti-dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 0px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.noti-dropdown-content {
  display: none;
  position: absolute;
  right: 2%;
  background-color: #f9f9f9;
  min-width: 140px;
  max-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.noti-dropdown-content a {
  float: none;
  color: black;
  font-family: REGULAR;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.noti-dropdown-content a:hover {
  background-color: var(--primary);
  color: #fff;
}

.show2 {
  display: block;
}

/* dropdown language */

.language-dropdown {
  float: left;
  overflow: hidden;
}

.language-dropdown .language-dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 0px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.language-dropdown-content {
  display: none;
  position: absolute;
  right: 2%;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.language-dropdown-content a {
  float: none;
  color: black;
  font-family: REGULAR;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.language-dropdown-content a:hover {
  background-color: var(--primary);
  color: #fff;
}

.show {
  display: block;
}

/* End Header */

/* Main Content */

.mainContent {
  /* max-width: 1501px; */
  width: calc(100% - 188px);
  position: absolute;
  margin-top: 74px;
  margin-left: 188px;
}

/* Search */

/* Control Board */
.mainContent .mainContent__container {
  margin: 16px 12px 0 16px;
  display: flex;
}

.mainContent__container .mainContent__controlBoard-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.mainContent__container .controlBoard-list__item {
  width: 363.25px;
  height: 220px;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 12px;
  box-shadow: 0px 4px 24px 0px #00000014;
  margin: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.mainContent__container .controlBoard-list__item:hover {
  border: 2px solid var(--primary);
}

.mainContent__container .controlBoard-list__item .Board__link {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ambOrder Control Board: symbol with new notification */
.mainContent__container
  .controlBoard-list__item
  .Board__link
  .element-container.noti-reports::before,
.mainContent__container
  .controlBoard-list__item
  .Board__link
  .element-container.noti-messages::before {
  content: "";
  position: absolute;
  right: 38%;
  top: 21%;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ff3b30;
}

.mainContent__container .controlBoard-list__item .Board__link .img-text {
  margin: 0 auto;
  margin-bottom: 16px;
}

.mainContent__container .controlBoard-list__item .Board__link .text {
  font-family: BOLD;
  font-size: 24px;
  font-weight: 800;
  line-height: 28.64px;
  color: var(--text);
  text-align: center;
}
/* End Control Board */

/* Table */
/* Search section */
.dt-container .dt-search {
  margin-bottom: 20px;
}

.dt-container .dt-search input {
  border-radius: 32px;
  border: none;
  background-color: #fff;
  padding-left: 50px;
  max-width: 916px;
  width: 916px !important;
  height: 48px;
  margin-top: 7px;
}

.dt-container .dt-search input:focus {
  border: 2px solid var(--primary);
}

.dt-container .dt-search input::placeholder {
  width: 279px;
  height: 19px;
  opacity: 0.3;
  font-family: REGULAR;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.09px;
  text-align: center;
  color: #000000;
}

.dt-container .dt-search label {
  display: none;
}

.mainContent .dt-container .dataTable {
  border-collapse: separate;
  border-spacing: 0 10px;
}

.mainContent div.dt-container div.dt-search {
  text-align: left;
}

.mainContent .dt-layout-row:first-child {
  display: flex;
  flex-wrap: wrap;
}

/* .mainContent .dt-layout-cell:nth-child(1) {
  order: 1;
  width: 100%;
}

.mainContent .dt-layout-cell:nth-child(2) {
  order: 0;
  width: 100%;
} */

.mainContent .dt-layout-row:last-child {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  margin-top: 15px;
  /* top: calc(100vh - 780px); */
}

.mainContent .dt-layout-row:last-child .dt-layout-cell:nth-child(1) {
  order: 0;
}

.mainContent .dt-layout-row:last-child .dt-layout-cell:nth-child(2) {
  order: 2;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.mainContent .dt-layout-row:last-child .dt-layout-cell:nth-child(3) {
  order: 1;
}

.mainContent .dt-container .dt-length {
  margin: 0 20px;
}

.mainContent .dt-container .dt-info {
  margin: 0;
}

div.dt-container div.dt-search input {
  padding-right: 20px;
}

.mainContent .dt-container .dt-layout-end {
  height: 53px;
}

/* End Search */

/* Datatable */
.mainContent .table {
  margin-left: 16px;
  min-width: 1098px;
  /* max-width: 1120px; */
  /* width: 100%; */
}

div.dt-container div.dt-layout-table > div {
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
  padding-right: 8px;
}

.mainContent .mainContent__container .search-icon {
  position: absolute;
  top: 35px;
  left: 39px;
  width: 24px;
  height: 24px;
  opacity: 0.3;
}

.mainContent .table .dt-column-title {
  font-family: REGULAR;
  font-size: 12px;
  font-weight: 800;
  line-height: 14.32px;
  text-align: center;
  background: #f8f8f8;
  color: #b6b6b6;
  /* margin-left: 7px; */
}

.mainContent table.dataTable th,
.mainContent table.dataTable td {
  text-align: left;
  border-style: none;
}

/* Xử lý bỏ icon sort */
.mainContent
  table.dataTable
  thead
  > tr
  > th:not(.th-status):not(.th-type):not(.th-orderType)
  span.dt-column-order {
  display: none;
}
/*  */

.mainContent table.dataTable tr {
  border-radius: 8px;
}

.mainContent table.dataTable th,
.mainContent table.dataTable td {
  border-style: none;
}

.mainContent table.dataTable > tbody > tr td.link {
  text-decoration: underline;
}

.mainContent table.dataTable td:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.mainContent table.dataTable td:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.mainContent table.dataTable > thead > tr:hover th {
  outline: none;
}

.mainContent table.dataTable > tbody > tr td {
  border: 1px solid #fff;
}

.mainContent table.dataTable > tbody > tr:hover td {
  border: 1px solid var(--primary);
  border-left: none;
  border-right: none;
}

.mainContent table.dataTable > tbody > tr:hover td:first-child {
  border-left: 1px solid var(--primary);
}

.mainContent table.dataTable > tbody > tr:hover td:last-child {
  border-right: 1px solid var(--primary);
}

.dt-container .dt-length {
  margin-bottom: 20px;
}

.dt-container .dt-info {
  margin-top: 20px;
  margin-bottom: 5px;
}

table.dataTable thead > tr > th.dt-orderable-asc,
table.dataTable thead > tr > th.dt-orderable-desc,
table.dataTable thead > tr > td.dt-orderable-asc,
table.dataTable thead > tr > td.dt-orderable-desc {
  background-color: #f8f8f8;
  border: none;
  margin-left: 7px;
}

div.dt-container div.dt-layout-full {
  max-width: 1300px;
  width: 100%;
}

div.dt-container div.dt-layout-full > *:only-child {
  margin-left: 8px;
}

.mainContent table.dataTable .active,
.mainContent table.dataTable .inactive,
.mainContent table.dataTable .blocked,
.mainContent table.dataTable .new,
.mainContent table.dataTable .processing,
.mainContent table.dataTable .delivering,
.mainContent table.dataTable .pick-upWaiting,
.mainContent table.dataTable .completed,
.mainContent table.dataTable .canceled,
.mainContent table.dataTable .open,
.mainContent table.dataTable .scheduled,
.mainContent table.dataTable .solved,
.mainContent table.dataTable .canceled,
.mainContent table.dataTable .scheduled,
.mainContent table.dataTable .draft,
.mainContent table.dataTable .waiting,
.mainContent table.dataTable .pending,
.mainContent table.dataTable .nearlyExpired,
.mainContent table.dataTable .expired,
.mainContent table.dataTable .success,
.mainContent table.dataTable .failed {
  font-family: BOLD;
  /* font-size: 12px; */
  font-weight: 800;
  text-align: right;
  padding-right: 7px;
  display: block;
}

.mainContent table.dataTable .active {
  color: var(--active);
}

.mainContent table.dataTable .pending {
  color: var(--pending);
}

.mainContent table.dataTable .inactive {
  color: var(--inactive);
}

.mainContent table.dataTable .blocked {
  color: var(--blocked);
}

.mainContent table.dataTable .new {
  color: var(--new);
}

.mainContent table.dataTable .processing {
  color: var(--processing);
}

.mainContent table.dataTable .delivering {
  color: var(--delivering);
}

.mainContent table.dataTable .pick-upWaiting {
  color: var(--pick-upWaiting);
}

.mainContent table.dataTable .completed {
  color: var(--completed);
}

.mainContent table.dataTable .canceled {
  color: var(--canceled);
}

.mainContent table.dataTable .open {
  color: var(--open);
}

.mainContent table.dataTable .scheduled {
  color: var(--scheduled);
}

.mainContent table.dataTable .waiting {
  color: var(--waiting);
}

.mainContent table.dataTable .nearlyExpired {
  color: var(--nearlyExpired);
}

.mainContent table.dataTable .expired {
  color: var(--expired);
}

.mainContent table.dataTable .success {
  color: var(--success);
}

.mainContent table.dataTable .failed {
  color: var(--failed);
}

.mainContent .dt-container .dt-info {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.86px;
  margin-left: 6px;
}

/* Xử lý tràn text */

.mainContent table.dataTable > tbody > tr td a {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 300px;
}

.mainContent table.dataTable > tbody > tr td a:hover {
  overflow: visible;
  white-space: wrap;
  /* z-index: 10; */
}

/* pagination */
.mainContent button:not(:disabled) {
  border: none;
  width: 24px;
  height: 24px;
  margin: 0 4px;
  border-radius: 8px;
  background-color: var(--backgroud);
}

.mainContent div.dt-container div.dt-paging {
  margin-top: 6px;
}

.mainContent button.dt-paging-button.current {
  background: #e2e2e2;
}

.mainContent
  button.dt-paging-button:not(.first, .previous, .next, .last):hover {
  background: #e2e2e2;
}

.mainContent button.dt-paging-button.first,
.mainContent button.dt-paging-button.previous,
.mainContent button.dt-paging-button.next,
.mainContent button.dt-paging-button.last {
  font-size: 20px;
  font-weight: bold;
}

.mainContent .dt-container .dt-length select {
  background: #ebebeb;
  width: 135px;
  height: 28px;
  border-radius: 8px;
  border: none;
  padding: 0 8px;
  padding-bottom: 5px;
}

.mainContent .dt-container .dt-length label {
  display: none;
}

.mainContent .mainContent__container .create-btn {
  color: #fff;
  font-family: BOLD;
  height: 39px;
  line-height: 19.09px;
  font-size: 16px;
  font-weight: 800;
  background-color: var(--primary);
  padding: 10px 18px;
  border-radius: 8px;
  opacity: 0.8;

  position: absolute;
  left: 1035px;
  top: 29px;
}

.mainContent .mainContent__container .create-btn:hover {
  opacity: 1;
}

.mainContent .table thead {
  position: sticky;
  top: 0;
  left: 0;
}

/* End Table */

/* Detail List Item */
.mainContent .mainContent__container {
  display: flex;
  flex-wrap: wrap;
}

.mainContent .detail-container {
  margin-left: 24px;
  width: 100%;
  /* max-width: 1501px; */
}

.mainContent .top-elements {
  display: flex;
  width: 100%;
}

.mainContent .top-elements button.btn-save,
.mainContent .top-elements button.btn-create {
  height: 29px;
  padding: 6px 12px;
  border-radius: 8px;
  opacity: 0.5;
  background: #ff9500;
  font-family: REGULAR;
  font-size: 14px;
  font-weight: 800;
  line-height: 16.71px;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 6px;
  margin-left: 24px;
}

.mainContent .top-elements button.btn-save {
  width: 57px;
}

.mainContent .top-elements button.btn-create {
  width: 69px;
}

.mainContent .top-elements button.btn-save:hover,
.mainContent .top-elements button.btn-create:hover {
  opacity: 1;
}

.mainContent .row-container {
  margin-top: 26px;
  display: flex;
  /* justify-content: space-around; */
}

.mainContent .row-container .col:not(.col-container):not(.product-card) {
  margin-bottom: 6px;
}

.mainContent .row-container .divider-list-item {
  border: 1px dashed #d9d9d9;
  width: 458px;
  margin-left: 14px;
  margin-bottom: 16px;
  margin-top: 9px;
}

.mainContent .row-container .col2 .divider-list-item {
  margin-bottom: 6px;
}

.mainContent .row-container .col-container {
  max-width: 492px;
  /* height: 770px; */
  height: 81vh;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0px 4px 24px 0px #00000014;
  padding: 16px;
  margin-left: 45px;
  overflow-y: scroll;
}

.mainContent .row-container .col-container .detail-product-img {
  width: 142px;
  height: 100px;
  border-radius: 12px;
  margin-left: 15px;
  /* margin-bottom: 16px; */

  background-color: #d9d9d9;
}

.mainContent .row-container label {
  font-family: BOLD;
  font-size: 12px;
  font-weight: 800;
  line-height: 14.32px;
  color: #000;
  margin-bottom: 6px;
}

.mainContent .row-container input {
  width: 221px;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #fbfbfb;

  border: 1px solid #e9ebee;

  font-family: REGULAR;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
}

.mainContent .row-container input::placeholder {
  font-family: REGULAR;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  text-align: left;
  color: #000000;
  opacity: 0.3;
}

.mainContent .row-container .col-container select {
  width: 221px;
  height: 42px;
  border: 1px solid #e9ebee;
  border-radius: 8px;
  padding: 11px 15px 10px 15px;
  background-color: #FBFBFB;
}

.mainContent .row-container .col-container select:focus option {
  background: #fbfbfb;
  color: #000;
}

.mainContent .row-container input:hover,
.mainContent .row-container input:focus,
.mainContent .row-container select:hover,
.mainContent .row-container select:focus,
.mainContent .row-container textarea:hover,
.mainContent .row-container textarea:focus {
  border: 1px solid var(--primary);
  color: var(--dark-orange);
  background: rgba(253, 117, 19, 0.1);
}

.mainContent .row-container .label-in-input:hover,
.mainContent .row-container .label-in-input:focus-within {
  border: 1px solid var(--primary);
  color: var(--dark-orange);
  background: rgba(253, 117, 19, 0.1);
}

.mainContent .row-container .label-in-input:hover input,
.mainContent .row-container .label-in-input input:focus {
  color: var(--dark-orange);
}

.mainContent .row-container .label-in-input {
  border: 1px solid #e9ebee;
  background: #fbfbfb;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 0 10px;
  margin-top: 4px;
}

.mainContent .row-container .label-name {
  font-family: BOLD;
  font-size: 12px;
  line-height: 14.32px;
  font-weight: 800;
  color: #000;
  /* margin-bottom: 8px; */
}

.mainContent .row-container .label-in-input label {
  font-family: REGULAR;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  opacity: 0.56;
  color: #000;
  margin-top: 10px;
  margin-left: 16px;
}

.mainContent .row-container .label-in-input input {
  background: transparent;
  border: none;
  padding-left: 0;
  padding-top: 15px;
  font-family: REGULAR;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  color: #000;
}

.mainContent .row-container .storeLocationLong {
  margin-top: 28px;
}

.mainContent .row-container .col-12 input {
  width: 460px;
}

.mainContent .row-container textarea {
  width: 460px;
  height: 126px;
  border-radius: 8px;
  background-color: #fbfbfb;
  border: 1px solid #e9ebee;
  color: #000;
  font-family: REGULAR;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  text-align: left;

  padding: 12px 16px;
}

.mainContent .row-container textarea.pluginHighlight {
  height: 93px;
}

.mainContent .row-container textarea.pluginDescription {
  height: 143px;
}

.mainContent .detail-container .top-col {
  display: flex;
  position: relative;
  margin-bottom: 14px;
}

.mainContent .detail-container .top-col img {
  position: absolute;
  margin-top: 24px;
  cursor: pointer;
  opacity: 0.8;
}

.mainContent .detail-container .top-col img:hover {
  opacity: 1;
}

.mainContent .detail-container .top-col .img1st {
  right: 48px;
}

.mainContent .detail-container .top-col .img3rd {
  margin-top: 32px;
  right: 56px;
}

.mainContent .detail-container .top-col .img2nd {
  right: 0;
}

.mainContent .detail-container .top-col .detail-avatar {
  width: 88px;
  height: 88px;
  border-radius: 50%;
  background: #d9d9d9;
  margin-right: 16px;
}

.mainContent .detail-container .top-col .name {
  font-family: BOLD;
  font-size: 20px;
  font-weight: 800;
  line-height: 23.87px;
  color: #000000;
  margin-bottom: 6px;

  max-width: 276px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.mainContent .detail-container .top-col .name:hover {
  overflow: visible;
}

.mainContent .detail-container .top-col .id {
  font-family: BOLD;
  font-size: 16px;
  font-weight: 800;
  color: #9e9e9e;
  margin-bottom: 6px;
}

.mainContent .detail-container .top-col .status {
  position: absolute;
  bottom: 0;
  padding: 6px 12px;
  border-radius: 8px;
  /* background-color: #34c759; */

  font-family: BOLD;
  font-size: 14px;
  font-weight: 800;
  line-height: 16.71px;
  color: #fff;
}

.mainContent .col-container .box {
  width: 142px;
  height: 133px;
  border-radius: 8px;
  background-color: rgba(253, 117, 19, 0.1);
  margin-left: 15px;
}

.mainContent .col-container .box .title-detail {
  margin: 24px 0 0 10px;
  font-family: BOLD;
  font-size: 12px;
  font-weight: 800;
  color: var(--primary);
}

.mainContent .col-container .box .quantity-detail {
  font-family: BOLD;
  font-size: 48px;
  font-weight: 800;
  color: var(--dark-orange);
  margin-left: 10px;
}

.mainContent .col-container .storage {
  display: flex;
  align-items: center;
  width: 221px;
  height: 65px;
  border-radius: 8px;
  background: rgba(253, 117, 19, 0.1);
  margin-left: 13px;
  margin-top: 10px;
}

.mainContent .col-container .storage .title-detail {
  font-family: BOLD;
  font-size: 12px;
  font-weight: 800;
  line-height: 14.32px;
  color: var(--primary);
  margin-left: 3px;
}

.mainContent .col-container .storage .quantity-detail {
  font-family: BOLD;
  font-size: 32px;
  font-weight: 800;
  color: var(--primary);
  margin-left: 16px;
}

.mainContent .col-container .storage span {
  font-family: REGULAR;
  font-size: 24px;
  font-weight: 400;
  color: #212121;
  margin-top: 5px;
  margin-left: 2px;
}

.mainContent .row-container .col-container .big-img {
  width: 458px;
  height: 560px;
  border-radius: 12px;
  background-color: #d9d9d9;
  margin-left: 13px;
}

/* 3rd Column */
.mainContent .col-container .title {
  font-family: BOLD;
  font-size: 16px;
  font-weight: 800;
  line-height: 19.09px;
  color: var(--primary);
}

.mainContent .row-container .col3 {
  position: relative;
}

.mainContent .col-container .JWT-Token {
  position: absolute;
  bottom: 9px;
  margin-left: 13px;
  width: 460px;
  padding: 16px;
  border-radius: 8px;
  color: #0b7425;
  border: 1px solid #34c759;
  background: rgba(52, 199, 89, 0.1);

  font-family: REGULAR;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  text-align: left;

  word-wrap: break-word;
}

/* Product list */
.mainContent .col-container .product-card {
  margin-bottom: 12px;
}

.mainContent .col-container .product-card .card-img {
  margin-bottom: 4px;
}

.mainContent .col-container .product-card .body .name {
  font-family: BOLD;
  font-size: 12px;
  font-weight: 800;
  color: var(--text);
}

.mainContent .col-container .product-card .body .productID {
  font-family: BOLD;
  font-size: 12px;
  font-weight: 800;
  color: #b6b6b6;
}

.mainContent .col-container .product-card .body .price {
  font-family: BOLD;
  font-size: 12px;
  font-weight: 400;
  color: red;
}

.mainContent .col-container .product-card .body .inventory {
  font-size: 12px;
}

.mainContent .col-container .product-card .body .status {
  font-size: 12px;
}

/* End product list */

/* Upload file */
.mainContent .col-container .upload-input {
  display: none;
}

.mainContent .col-container .upload {
  position: relative;
}

.mainContent .col-container .upload-label {
  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  flex-wrap: wrap;
}

.mainContent .col-container .upload #profile-pic {
  margin-top: 4px;
  margin-bottom: 16px;
}

.mainContent .col-container .upload-label #profile-pic:hover {
  border: 1px solid var(--primary);
}

.mainContent .col-container .upload-label .img-text {
  margin: 0 auto;
  margin-bottom: 16px;
}

.mainContent .col-container .upload-label .text {
  font-family: BOLD;
  font-size: 12px;
  font-weight: 800;
  line-height: 14.32px;
  color: var(--dark-orange);
  width: 100%;
  text-align: center;
}

/* btn change */
.mainContent .col-container .btn-change {
  width: 76px;
  height: 29px;
  padding: 6px 12px;
  border-radius: 8px;
  border: 1px solid #32ade6;

  font-family: BOLD;
  font-size: 14px;
  font-weight: 800;
  line-height: 16.71px;
  color: #32ade6;
}

.mainContent .col-container .btn-non-active {
  pointer-events: none;
  opacity: 0.5;
}

.mainContent .col-container .btn-change.active {
  pointer-events:all ;
  opacity: 1;
}

.mainContent .col-container .btn-change:hover {
  background-color: #32ade6;
  color: #fff;
}

/* Change language */
.btn-list {
  display: flex;
  width: 100%;
}

.btn-list .radio-tile-group {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}

.btn-list .input-container {
  position: relative;
  height: 29px;
  width: 41px;
  margin: 0 2px;
}

.btn-list .input-container input {
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
}

.btn-list .input-container .radio-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: 1px solid #8E8E93;
  border-radius: 8px;
  transition: all 300ms ease;
}

.btn-list .input-container label {
  color: #8E8E93;
  font-size: 14;
  font-weight: 800;
  letter-spacing: 1px;
  margin-bottom: 0;
}

.btn-list input:checked+.radio-tile {
  background-color: #8E8E93;
  box-shadow: 0 0 5px #8E8E93;
  transform: scale(1.1);
}

.btn-list input:hover+.radio-tile {
  box-shadow: 0 0 5px #8E8E93;
}

.btn-list input:checked+.radio-tile label {
  color: white;
}

/* End Upload file */

/* Checkbox List */
.mainContent .col-container .checkBox-list {
  width: 100%;
  justify-content: space-between;
  margin-left: 0;
}

.mainContent .col-container .checkBox-container {
  position: relative;
  display: flex;
  max-width: 142px;
  padding: 20px 16px;
  border-radius: 8px;
  background: #fbfbfb;
  border: 1px solid #e9ebee;
}

.mainContent .col-container .checkBox-container .label-checkBox {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 16px;
  padding-top: 12px;
  font-family: REGULAR;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;
  margin-bottom: 0;
  opacity: 0.3;
  width: 100%;
  height: 100%;
}

.mainContent
  .col-container
  .checkBox-container
  input[type="checkbox"]:checked
  ~ .label-checkBox {
  opacity: 1;
}

.mainContent .col-container .checkBox-container input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  width: 0;
  height: 0;
  margin-left: auto;
  margin-right: 16px;
}
.mainContent .col-container .checkBox-container input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 15px;
  height: 15px;
  top: -7px;
  left: 0;
  border: 1px solid rgba(41, 45, 50, 0.3);
  border-radius: 5px;
  background-color: #fff;
}

.mainContent .col-container .checkBox-container input[type="checkbox"]::after {
  content: "";
  display: block;
  width: 5px;
  height: 10px;
  border: solid rgba(41, 45, 50, 0.3);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  top: -5px;
  left: 5px;
}

.mainContent
  .col-container
  .checkBox-container
  input[type="checkbox"]:checked::before {
  border: 1px solid rgba(41, 45, 50, 1);
  background-color: rgba(41, 45, 50, 1);
}

.mainContent
  .col-container
  .checkBox-container
  input[type="checkbox"]:checked:after {
  border: solid white;
  border-width: 0 2px 2px 0;
}

/* End Checkbox List */

.mainContent .col-container .add-section {
  display: flex;
  align-items: center;
  color: var(--primary);

  font-family: BOLD;
  font-size: 14px;
  font-weight: 800;
  line-height: 16.71px;
  text-align: left;
  opacity: 0.8;
  cursor: pointer;
  margin-top: 14px;
}

.mainContent .col-container .add-section:hover {
  opacity: 1;
}

/* Table Detail */
.mainContent .col-container .table-detail {
  width: 100%;
  background: #fbfbfb;
  border: 1px solid #e9ebee;
  padding: 8px 16px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 2px;

  border-radius: 8px;
  font-size: 14px;
}

.mainContent .col-container .table-detail:hover {
  border: 1px solid var(--primary);
}

.mainContent .col-container .table-detail div {
  text-align: left;
  padding: 0;
}


.mainContent .col-container .table-detail div:last-child {
  margin-left: auto;
  text-align: right;
}

.mainContent .col-container .table-detail div:first-child {
  text-align: left;
  max-width: 110px;
}
/* End Table Detail */

/* Access Modules List */
.mainContent .col-container .access-modules {
  width: 221px;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #32ade61a;

  border: 1px solid #32ade6;
  color: #32ade6;

  font-family: BOLD;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;

  cursor: pointer;
  user-select: none;
}

.mainContent .col-container .module-active,
.mainContent .col-container .access-modules:hover {
  background-color: #fc95011a;

  border: 1px solid #fc9501;
  color: #fc9501;
}

.mainContent .col-container .module-non-active {
  background-color: #32ade61a;

  border: 1px solid #32ade6;
  color: #32ade6;
}

.mainContent .col-container .modules {
  width: 221px;
  padding: 12px 16px;
  border-radius: 8px;
  background-color: #fbfbfb;

  border: 1px solid #e9ebee;
  color: #000;

  font-family: REGULAR;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.71px;

  user-select: none;
}
/* End Access Modules List */

/* End Detail List Item */

/* Analyze Board */

.mainContent .analyze-board {
  width: 357px;
  height: 765px;
  border-radius: 12px;
  background-color: #fff;
  margin-left: 24px;
  margin-top: 75px;
  box-shadow: 0px 4px 24px 0px #00000014;
  word-wrap: break-word;
}

.mainContent .analyze-board .analyze-board__title {
  font-size: 16px;
  font-weight: 800;
  color: var(--primary);
  margin-left: 16px;
  margin-top: 10px;
}

.mainContent .analyze-board .analyze-board__divider {
  width: 325px;
  height: 7px;
  margin-left: 16px;
  margin-top: 187px;
  background: #d9d9d9;
}

/* End Analyze Board */

/* End Main Content */
